{% extends "Appchoco/padre.html"%}
{%load static %}
{% block titulo %}
Bienvenido a la cueva del Panda!!!!

{% endblock titulo %}
{% block parrafo %}
<p>A continuacion veras los chocolates</p> 
<a class="navbar-brand" href="{% url 'chocolateNegro' %}">Chocolate Negro</a>
<a class="navbar-brand" href="{% url 'chocolate_semi' %}">Chocolate Semiamargo</a>
<a class="navbar-brand" href="{% url 'chocolate_leche' %}">Chocolate Leche</a>
<a class="navbar-brand" href="{% url 'chocolate_blanco' %}">Chocolate Blanco</a>


{% endblock parrafo %}