{% extends "Appchoco/padre.html"%}
{%load static %}
{% block titulo %}
Busqueda!

{% endblock titulo %}
{% block parrafo %}

    <form action="/Appchoco/buscar" method="GET">
        <input type="text" name="Nombre" id="Name">
        <input type="submit" value="Buscar">







    </form>


<h1>En busqueda de {{busqueda}}</h1>  

{%for chocolate in chocolate%}
    <ul>
        <li>Chocolate : {{chocolate.nombre}}</li>
       
        <li>Sabor:{{chocolate.sabor}}</li>
        


    </ul>


{%endfor%}
<a class="navbar-brand" href="{% url 'productos' %}">Productos</a> 
{% endblock parrafo %}
